<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
        <title>Contact App</title>
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center offset-md-3">
                    <h3>Contacts App</h3>
                    <hr>
                    <form action="/" method="post">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name"
                            required
                            name="name"
                            placeholder="enter the name">
                        <label for="phone">Phone</label>
                        <input type="number" class="form-control" id="phone"
                            name="number" required
                            placeholder="enter the number">
                        <br>
                        <button class="btn btn-primary" type="submit">Add
                            contact</button>
                    </form>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col text-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Contact</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each contact}}
                            <tr>
                                <td>{{name}}</td>
                                <td>{{number}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>